Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ThirdPerson
Content/Characters
Content/LevelPrototyping
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Developers
Content/Collections

Content/RadicalMike