Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ThirdPerson
Content/Characters
Content/LevelPrototyping
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Developers
Content/Collections

*.zip
Content/A_Surface_Footstep
Content/Abocado
Content/Fab
Content/ModSci_Engineer
Content/RadicalMike
Content/StylizedProvencal
Content/SFX_Pack
