Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ThirdPerson
Content/Characters
Content/LevelPrototyping
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Developers
Content/Collections

*.zip
Content/RadicalMike
Content/StylizedProvencal
Content/Abocado
Content/ArrowTrail
Content/A_Surface_Footstep
Content/MuzzleFlash
Content/Realistic_Starter_VFX_Pack_Vol2
Content/A001_ForestSounds
Content/Free_Sounds_Pack
Content/Sci-Fi_Shots_Pack2_Game_Of_Weapons
Content/Fab
Content/ModSci_Engineer
